# Điền tài khoản mật khẩu SQLServer vào 3 ...
DATABASE_URL="sqlserver://127.0.0.1:1433;database=CAPSTONE1;user=...;password=...;encrypt=false;trustServerCertificate=true" 
# nest g resource auth --no-spec
PORT=""

JWT_SECRET = 45928244-58b1-4467-8021-3d82610d6869
JWT_REFRESH_SECRET=fa2f745d-2293-48e5-a29e-fb3868658cbe
JWT_ACCESS_TOKEN_EXPIRED=1h
JWT_REFRESH_EXPIRES_IN=7d


# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0


# Mail Configuration (Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=thanhvo130602@gmail.com
MAIL_PASSWORD=
MAIL_FROM="No Reply <fashion-email@gmail.com>"